* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTIONS */

section::before {
    content: "";
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 1px;
}

section::after {
    content: "";
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 1px;
    background-color: rgb(198, 73, 73);
}

/* LIST */
li {
    list-style: none;
}

li:hover {
    color: rgb(173, 96, 96);
}

ul li {
    margin: 20px;
}

/* BEFORE */
p::before {
    content: '❛';
}

p::after {
    content: '❜';
}

ul li::before {
    content: "";
    background-color: rgb(198, 73, 73);
    padding: 2px 8px;
    margin-right: 20px;
    border-radius: 10px 10px 0px 10px;
}

.koph1::before {
    content: '‵ ';
    color: rgb(198, 73, 73);
    margin-left: 30px
}

h2::before {
    content: '‶ ';
    margin-left: 30px
}

h3::before {
    content: '‷ ';
    margin-left: 30px
}

/* OPDRACHTEN SECTIONS */
.opdracht__4::before {
    content: '➔';
    cursor: pointer;
}

.opdracht__4:hover::before {
    content: 'Ho ho ho';
    color: rgb(198, 73, 73);
}

.opdracht__5::before {
    content: "➔";
}